// Font family
$roboto: 'Roboto', sans-serif;
$playfair-display: 'Playfair Display', serif;

// Font size
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

// Font weight
$regular: 500;
$light: 300;
$bold: 900;
