.main_section {
    color:$color-raisin ;

    p {
        font-family: $roboto;
        font-weight: $light;
    }

    h5 {
        font-size: $large;    
        font-family: $playfair-display;
    }


}

.main_section-span-pink {
    color: $color-ruddy;
}