
//colores variables//
$color-white:#fff;
$color-platinum:#e6e7e7;
$color-ligt:#d1d1d1;
$color-Fuzzy:#e56353;
$color-ruddy:#d76c69;
$color-spanish:#ecbcba;
$color-Eerie:#121619;
$color-raisin:#222323;
$color-nickel:#6c6e70;



